h1{
    border: 3px solid rgb(243, 195, 3);
    border-radius: 15px;
}

p{
    border-bottom: 3px solid hsl(0, 100%, 57%);
    border-top: 3px solid hsl(234, 100%, 50%);
    border-left: 3px solid hsl(56, 100%, 50%);
    border-right: 3px solid hsl(118, 100%, 33%);
    border-radius: 10px;
    font-
}

body{background-color: black;}


h1{
    color: hsl(0, 0%, 97%);
    
}

p{
    color: hsl(0, 0%, 97%);
}